<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCU7wJox4RchjU--449KIKivIg2Ep84BM</string>
	<key>GCM_SENDER_ID</key>
	<string>449725695983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mihenkaynak.app</string>
	<key>PROJECT_ID</key>
	<string>alpertosunk</string>
	<key>STORAGE_BUCKET</key>
	<string>alpertosunk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449725695983:ios:2f4aba2bb55a2561b1981a</string>
</dict>
</plist>
